.accordion-button {
    width: max-content;
}

.accordion-button:not(.collapsed) {
    background-color: transparent ;
    box-shadow: none;
}


.accordion-button:focus {
    border:none;
    box-shadow:none;
}

.accordion-button::after {
    margin-left: 1rem;
}

.accordion-header.collapsed {
    border-bottom: 1px solid rgba(40,48,80,.13);
}

.accordion-collapse  {
    border-bottom: 1px solid rgba(40,48,80,.13);
}

.accordion-collapse:not(.show) {
    border-bottom: none;
}

.accordion-item:last-of-type .accordion-collapse {
    border-radius: 0;
}