<section>
    <!-- Navbar -->
    <app-nav-private [title]="course?.title">
        <div class="ms-3 d-flex gap-2" slot="navigation">
            <div class="bg-secondary text-white fw-semibold text-caption line-height-16 py-1 px-2" *ngIf="course">
                {{course.draft ?
                'DRAFT'
                : 'PUBLIC'}}</div>
            <button class="text-white d-flex gap-1 fw-semibold" routerLink="/teach">

                <span>Dashboard</span>
                <fa-icon style="margin-top:1px;" [icon]="faArrow" />
            </button>

        </div>
        <div slot="loader" *ngIf="isLoading" class="spinner-border spinner-25 text-light me-4" role="status">
        </div>
        <button slot="button" *ngIf="option === 'curriculum';else saveButton"
            class="button-nav button-disabled-light button color-primary border border-1 border-primary rounded-1 button-hover-secondary-gray bg-white fw-semibold py-2 ">
            <fa-icon class="color-danger" [icon]="faBan" />
        </button>
        <ng-template #saveButton>
            <button slot="button" (click)="updateCourse()" [disabled]="isLoading" [ngClass]="{
                'button-disabled-light': isLoading
            }"
                class="button-nav button color-primary border border-1 border-primary rounded-1 button-hover-secondary-gray bg-white fw-semibold py-2 ">SAVE
            </button>
        </ng-template>
        <div slot="alert">
            <app-alert-success [message]="successMessage" [show]="isAlertVisible"
                (onClose)="handleCloseAlert($event)"></app-alert-success>

        </div>
    </app-nav-private>
    <div class="container-fluid mt-xxl">
        <div class="row justify-content-center">
            <div class="col-9 d-flex">
                <!-- Sidebar -->
                <app-teach-manage-sidebar></app-teach-manage-sidebar>
                <!-- Landing Page -->

                <div *ngIf="option === 'basic'" class="container-fluid ">
                    <div class="row">
                        <div class="col-12 px-4 fixed-width-1500">
                            <div class="paper-shadow">
                                <header class="border-bottom-gray-400 px-6 py-40">
                                    <h3 class="mb-0 text-title-tertiary fw-bold">Course landing page</h3>
                                </header>
                                <div class="px-6 py-40">
                                    <p class="text-paragraph">Your course landing page is crucial to your success on
                                        Lurnx. If it&apos;s
                                        done right,
                                        it can also help you gain visibility in search engines like Google. As you
                                        complete this section, think about creating a compelling Course Landing Page
                                        that demonstrates why someone would want to enroll in your course.</p>
                                    <div>
                                        <form [formGroup]="courseForm">
                                            <div class="mb-4">
                                                <label for="title" class="mb-1 text-nav fw-bold">Course title</label>
                                                <!-- Title Input -->
                                                <input formControlName="title" name="title"
                                                    class="input-large w-100 mb-1 px-3 py-2" type="text"
                                                    placeholder="You course title." />
                                                <p class="text-super-caption">Your title should be a mix of
                                                    attention-grabbing,
                                                    informative, and optimized for search</p>
                                            </div>
                                            <div class="mb-4">
                                                <label for="subtitle" class="mb-1 text-nav fw-bold">Subtitle</label>
                                                <!-- Subtitle Input -->
                                                <input formControlName="subtitle" name="subtitle"
                                                    class="input-large w-100 mb-1 px-3 py-2" type="text"
                                                    placeholder="You course subtitle." />
                                                <p class="text-super-caption">Use 1 or 2 related keywords, and mention
                                                    3-4 of the most important areas that you've covered during your
                                                    course.</p>
                                            </div>
                                            <!-- Text editor -->
                                            <div class="mb-4">
                                                <label for="subtitle" class="mb-1 text-nav fw-bold">Description</label>
                                                <!-- Text editor -->
                                                <div class=""><quill-editor></quill-editor></div>
                                                <p class="text-super-caption">Use 1 or 2 related keywords, and mention
                                                    3-4 of the most important areas that you've covered during your
                                                    course.</p>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-4 fixed-width-350">
                                                    <label class="mb-1 text-nav fw-bold" for="language">Language</label>
                                                    <div class="position-relative">
                                                        <!-- Language select -->
                                                        <select formControlName="language" name="language"
                                                            class="box-select w-100 input-large px-3 py-2" type="text"
                                                            required>
                                                            <option
                                                                [selected]="language.id === courseForm.get('language')?.value"
                                                                [ngValue]="language.name"
                                                                *ngFor="let language of languages" class="box-option">
                                                                {{language.name}}</option>

                                                        </select>
                                                        <fa-icon class="position-absolute caret-select"
                                                            [icon]="faAngleDown" />
                                                    </div>
                                                </div>
                                                <!-- Category Select -->
                                                <div class="col-4 fixed-width-300">
                                                    <label class="mb-1 text-nav fw-bold"
                                                        for="category">Categories</label>
                                                    <div class="position-relative">
                                                        <select name="category"
                                                            class="box-select w-100 input-large px-3 py-2 position-relative"
                                                            type="text" required>
                                                            <option
                                                                [selected]="category.id === courseForm.get('category')?.value "
                                                                [ngValue]="category.id"
                                                                *ngFor="let category of categories" class="box-option">
                                                                {{category.name}}</option>
                                                        </select>
                                                        <fa-icon class="position-absolute caret-select"
                                                            [icon]="faAngleDown" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Course Image -->
                                            <div class="row">
                                                <label class="mb-1 text-nav fw-bold" for="image-input">Course
                                                    image</label>
                                                <div class="col-6">

                                                    <img *ngIf="imagePreview !== null ;else placeholderImage"
                                                        class="d-block border-gray-400 img-large-fixed-height"
                                                        src="{{imagePreview}}" alt="image-preview" />
                                                    <ng-template #placeholderImage>
                                                        <img class="d-block border-gray-400 img-large-fixed-height"
                                                            src="{{initialImage}}" alt="image-preview" />
                                                    </ng-template>

                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-1">Upload your course image here.</p>
                                                    <input type="file" (change)="onFileSelected($event)"
                                                        accept="image/*">
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Intended learners-->

                <div *ngIf="option === 'students'" class="container-fluid">
                    <div class="row">
                        <div class="col-12 px-4 fixed-width-1500">
                            <div class="paper-shadow">
                                <header class="border-bottom-gray-400 px-6 py-40">
                                    <h3 class="mb-0 text-title-tertiary fw-bold">Intended learners</h3>
                                </header>
                                <div class="px-6 py-40">
                                    <p class="text-paragraph mb-5">The following descriptions will be publicly visible
                                        on
                                        your <strong class="color-primary">Course Landing Page</strong> and will have a
                                        direct impact on your
                                        course performance. These descriptions will help learners decide if your course
                                        is right for them.</p>
                                    <div>
                                        <form [formGroup]="learnersForm">
                                            <div class="mb-4">
                                                <label for="title" class="mb-1 text-nav fw-bold">What will students
                                                    learn in your course?</label>
                                                <p class="text-paragraph">You must enter at least <strong
                                                        class="color-primary">4 learning
                                                        objectives or outcomes</strong> that
                                                    learners can expect to achieve after completing your course.</p>
                                                <!-- Title Input -->

                                                <input
                                                    *ngFor="let sentence of whatYouWillLearn; let sentenceIdx = index"
                                                    [formControlName]="'input'+sentenceIdx"
                                                    class="input-large w-100 mb-3 px-3 py-2" type="text"
                                                    placeholder="{{sentence.placeholder}}" />
                                                <div class="d-flex align-items-center color-primary cursor-pointer hover-dark"
                                                    (click)="addMoreWYWL()">
                                                    <fa-icon class="icon-22-size" [icon]="faPlus" />
                                                    <span class="text-paragraph fw-bold ms-2">Add more</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pricing -->
                <div *ngIf="option === 'pricing'" class="container-fluid ">
                    <div class="row">
                        <div class="col-12 px-4 fixed-width-1500">
                            <div class="paper-shadow">
                                <header class="border-bottom-gray-400 px-6 py-40">
                                    <h3 class="mb-0 text-title-tertiary fw-bold">Pricing</h3>
                                </header>
                                <div class="px-6 py-40 row">
                                    <div class="col-10">
                                        <h6 class="text-nav fw-bold mb-3">Course Price Tier</h6>
                                        <p class="text-paragraph mb-4">
                                            Please select the price tier for your course below and click 'Save' in the
                                            top
                                            right.
                                            If you intend to offer your course for free, the total length of video
                                            content
                                            must be less than 2 hours.</p>
                                    </div>
                                    <form [formGroup]="priceForm" class="d-flex gap-3">
                                        <div class="position-relative">
                                            <select class="box-select w-100 input-large ps-3 pe-5 py-2">
                                                <option class="box-option">EUR</option>
                                            </select>
                                            <fa-icon class="position-absolute caret-select" [icon]="faAngleDown" />
                                        </div>
                                        <div class="position-relative">
                                            <select formControlName="price"
                                                class="box-select w-100 input-large ps-3 pe-5 py-2">
                                                <option [ngValue]="0" class="box-option">Free</option>
                                                <option [ngValue]="19.99" class="box-option">&euro;19.99 tier(1)
                                                </option>
                                                <option [ngValue]="24.99" class="box-option">&euro;24.99 tier(2)
                                                </option>
                                                <option [ngValue]="49.99" class="box-option">&euro;49.99 tier(3)
                                                </option>
                                                <option [ngValue]="99.99" class="box-option">&euro;99.99 tier(4)
                                                </option>
                                            </select>
                                            <fa-icon class="position-absolute caret-select" [icon]="faAngleDown" />
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Curriculum -->
                <div *ngIf="option === 'curriculum'" class="container-fluid ">
                    <div class="row">
                        <div class="col-12 px-4 fixed-width-1500">
                            <div class="paper-shadow">
                                <header class="border-bottom-gray-400 px-6 py-40">
                                    <h3 class="mb-0 text-title-tertiary fw-bold">Curriculum</h3>
                                </header>
                                <div class="px-6 py-40 row">
                                    <div class="col-10 mb-4">
                                        <h6 class="text-nav fw-bold mb-3">Sections and lectures</h6>
                                        <p class="text-paragraph mb-4">
                                            Start putting together your course by creating sections or lectures
                                            If you&apos;re intending to offer your course for free, the total length of
                                            video
                                            content must be less than 2 hours.
                                        </p>
                                    </div>
                                    <form [formGroup]="curriculumForm">
                                        <app-manage-section [section]="section"
                                            (onSaveSection)="handleSectionUpdate($event)"
                                            (onSaveLecture)="handleLectureCreate($event)"
                                            (onUpdate)="handleIsUpdating($event)"
                                            *ngFor="let section of this.sections;let sectionIdx = index">

                                        </app-manage-section>

                                        <button *ngIf="!isAddingSection;else sectionTemplate" type="button"
                                            (click)="addSectionTemplate()"
                                            class="bg-white cursor-pointer border-gray-900 text-paragraph d-flex align-items-center fw-semibold gap-2 py-1 px-2 button-hover-secondary-gray">
                                            <fa-icon class="text-subtitle-secondary" [icon]="faPlusN"></fa-icon>
                                            <p class="mb-0">Section</p>
                                        </button>
                                        <ng-template #sectionTemplate>
                                            <div class="border-gray-900 px-2 py-3">
                                                <div class="d-flex align-items-center mb-3">
                                                    <h6 class="text-paragraph fw-bold mb-0 d-block title-min-width-7">
                                                        New Section:&nbsp;</h6>
                                                    <div class="d-flex w-100">
                                                        <input type="text" formControlName="newSection"
                                                            class="flex-grow-1 outline-none input-small border-gray-900 me-3"
                                                            placeholder="Insert section title">
                                                        <input type="number" formControlName="rank"
                                                            class="outline-none input-small border-gray-900 fixed-width-6 "
                                                            placeholder="100">
                                                    </div>
                                                </div>
                                                <div class=" d-flex gap-2 justify-content-end">
                                                    <button (click)="cancelNewSectionTemplate()" class="cursor-pointer
                                                    text-paragraph
                                                    fw-semibold
                                                    py-1 px-2
                                                    button-hover-secondary-gray">Cancel</button>
                                                    <button (click)="saveNewSection(null)" [disabled]="isLoading"
                                                        [ngClass]="{
                                                        'button-disabled':isLoading
                                                    }" class="cursor-pointer
                                                    text-white
                                                    text-paragraph
                                                    bg-primary
                                                    fw-semibold
                                                    py-1 px-2
                                                    button-hover-primary-dark">Add Section</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>