@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.side-nav {
    width: 16rem;
    min-width: 16rem;
}

.fixed-width-1500 {
    max-width: 1500px;
}

.fixed-width-300 {
    max-width: 18.75rem;
}

.mb-negative-5 {
    margin-bottom: -5px;
}

.manage-option:hover {
    cursor: pointer;
    background-color: var(--gray-200);
    
}

.manage-option {
    position: relative;
}

.manage-option-selected::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: var(--color-primary);
}

.img-large-fixed-height {
    max-height: 16rem;
}
.button-hover-secondary-gray:hover:not(.button-disabled-light) {
    background-color: var(--gray-200) !important;
}
.button-disabled-light {
    background-color: var(--gray-200) !important;
    pointer-events: none;
}

.max-w-17 {
    max-width: 17.1785rem;
}
@media (max-width:1200px) {
    .mt-xxl {
        margin-top: 4rem
    }
}

@media (max-width:576px) {
    .px-6 {
        padding-inline: 1rem;
    }
    .py-40 {
        padding-block: 1rem;
    }
}










