.register-container-left {
    padding: 2rem 3rem 5rem 6rem;
  }
  .register-container-right {
    padding: 2rem 6rem 5rem 3rem;
  }

  .register-header {
    border: 8px solid white;
    border-bottom: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-top:3rem;
  }

  .mb-55 {
    margin-bottom:55px;
  }

  .teal-leaf {
    right: 0.75rem;
    top: 8px;
      width: 3,125rem;
      transform: rotateX(180deg);
  }

  
  .orange-leaf {
    z-index:1 ;
    right: 2.375rem;
    top: 40px;
    width: 40px;
  }
  
  .red-leaf {
    z-index: 5;
    transform: rotateY(180deg);
    right: 65px;
    width: 28px;
    bottom:8px;
  }

  .otter-icon {
    left: calc( 50% - 30px) ;
    bottom: -4rem;
    transform: rotateZ(270deg);
  }
