.wywl-sentence {
    width: calc(50% - (2.4rem/2));
}

.course-modal {
    max-width: 21.875rem;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    
}

.course-modal-fixed {
    position: fixed;
    top: 86px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 0.75rem rgba(0,0,0,.08);
    min-width: 21.875rem;
}