<section class="row mt-large">
    <div *ngIf="course !== null" class="col-7">
        <header class="mb-5">
            <a [routerLink]="['/categories/', course.categories[0].id]"
                class="mb-3 d-block fw-bold color-primary text-decoration-none">{{course.categories[0].name}}</a>
            <h1 class="text-title-medium mb-3">{{course.title}}</h1>
            <h5 class="text-subtitle-primary mb-3">{{course.subtitle}}</h5>
            <p class="mb-2 text-caption color-gray-600">{{course.students.length}} students</p>

            <p class="mb-2 text-caption color-gray-600">Created by <span
                    class="color-primary text-decoration-underline">{{course.user.firstName + ' ' +
                    course.user.lastName}}</span></p>
            <div class="d-flex">
                <div class="d-flex me-4">
                    <fa-icon class="me-2" [icon]="faCircleExclamation" />
                    <p>{{course.lastUpdated | date}}</p>
                </div>
                <div class="d-flex me-4">
                    <fa-icon class="me-2" [icon]="faGlobe" />
                    <p class="me-1" *ngFor="let language of course.languages">{{language.name}}</p>
                </div>
                <div class="d-flex me-2">
                    <fa-icon [icon]="faClosedCaptioning" />

                </div>
            </div>

        </header>
        <div class="p-4 border-gray-400 rounded-3 mb-5">
            <h2 class="text-title-secondary fw-bold mb-3">What you&apos;ll learn</h2>
            <div class="row">
                <div class="d-flex mt-2 col-6" *ngFor="let unit of course.whatYouWillLearn">
                    <fa-icon class="me-3" [icon]="faCheck" />
                    <p class="text-caption mb-0">{{unit.sentence}}</p>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <header>
                <h2 class="text-title-secondary fw-bold mb-4">Course content</h2>
                <p class="text-caption color-gray-600">{{course.videos.length}} &#x2022; lectures &#x2022; 3m total
                    length
                </p>
            </header>
            <ul class="border-gray-400 p-4 rounded-3 list-unstyled">
                <li class="mb-3 d-flex justify-content-between cursor-pointer" *ngFor="let video of course.videos">
                    <div class="d-flex">
                        <fa-icon class="me-3" [icon]="faClapperboard" />
                        <p class="text-caption color-primary text-decoration-underline mb-0 ">{{video.title}}
                        </p>
                    </div>
                    <div class="d-flex">
                        <p class="text-caption color-primary text-decoration-underline me-3 mb-0 ">Preview</p>
                        <p class="text-caption color-gray-600 mb-0">{{video.duration}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mb-5">
            <header>
                <h2 class="text-title-secondary fw-bold mb-4">Description</h2>
            </header>
            <div>
                <p class="text-caption" [innerHTML]="course.description"></p>
            </div>
        </div>

        <div>
            <header class="d-flex align-items-center mb-4">
                <fa-icon [icon]="faStar" class="text-button-lg me-1 color-yellow-500" />
                <h2 class="text-title-secondary fw-bold mb-0">
                    5 course rating &#x2022; {{course.ratings.length}} ratings
                </h2>
            </header>
            <div class="row">
                <div *ngFor="let rating of course.ratings" class="col-6 ps-0 pe-4 me-3 py-4 border-top-gray-400">
                    <header class="d-flex justify-content-between mb-3">
                        <div class="d-flex">
                            <div *ngIf="!rating.user.avatar" class="user-badge me-3 text-subhero text-white fw-bold">
                                {{rating.user.firstName.slice(0,1)+rating.user.lastName.slice(0,1)}}
                            </div>
                            <img class="user-badge me-3" *ngIf="rating.user.avatar" src="{{rating.user.avatar}}">
                            <div>
                                <h3 class="text-button-lg fw-700">{{rating.user.firstName}}
                                    {{rating.user.lastName.slice(0,1)}}.
                                </h3>
                                <div class="d-flex align-items-center">
                                    <fa-icon *ngFor="let star of getRatingArray(rating.amount)" [icon]="faStar"
                                        class="text-super-caption color-yellow-500" />
                                    <p class="ms-2 text-super-caption fw-bold mb-0">{{rating.createdAt | date}}</p>
                                </div>
                            </div>
                        </div>
                        <fa-icon class="icon-25-size cursor-pointer" [icon]="faEllipsisVertical" />
                    </header>
                    <div class="text-nav">
                        <p class="mb-0">{{rating.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-5">

    </div>
</section>