<section class="row mt-large justify-content-center">
    <!-- Left Side -->
    <div *ngIf="course !== null" class="col-6 me-4">
        <header class="mb-5">
            <a [routerLink]="['/categories/', course.categories[0].id]"
                class="mb-3 d-block fw-bold color-primary text-decoration-none">{{course.categories[0].name}}</a>
            <h1 class="text-title-medium mb-3">{{course.title}}</h1>
            <h5 class="text-subtitle-secondary mb-3">{{course.subtitle}}</h5>
            <div class="d-flex mb-2">
                <div class="d-flex align-items-center">
                    <p class="text-caption color-yellow-600 mb-0 fw-bold me-1">{{totalRating}}</p>
                    <fa-icon *ngFor="let star of courseService.getRatingArray(totalRating)" [icon]="faStar"
                        class="text-super-caption color-yellow-500" />
                    <p class="mb-0 text-caption text-decoration-underline color-primary px-2">({{course.ratings.length}}
                        ratings)</p>
                </div>
                <p class="mb-0 text-caption color-gray-600">{{course.students.length}} students</p>
            </div>
            <p class="mb-2 text-caption color-gray-600">Created by &nbsp;<span
                    class="color-primary text-decoration-underline">{{courseService.getFirstNameAndLastNameDevidedBySpace(course.user)}}</span>
            </p>
            <div class="d-flex">
                <div class="d-flex me-4">
                    <fa-icon class="me-2" [icon]="faCircleExclamation" style="font-size: 17px;" />
                    <p>{{course.lastUpdated | date}}</p>
                </div>
                <div class="d-flex me-4">
                    <fa-icon class="me-2" [icon]="faGlobe" />
                    <p class="me-1" *ngFor="let language of course.languages">
                        {{courseService.toCamelCase(language.name)}}</p>
                </div>
                <div class="d-flex me-2">
                    <fa-icon [icon]="faClosedCaptioning" style="font-size: 18px;" />

                </div>
            </div>

        </header>
        <!-- What you will learn -->
        <div class="p-4 border-gray-400 rounded-3 mb-5">
            <h2 class="text-title-tertiary fw-bold mb-2">What you&apos;ll learn</h2>
            <div class="row">
                <div class="d-flex mt-3 col-6 lh-sm" *ngFor="let unit of course.whatYouWillLearn">
                    <fa-icon class="me-3" [icon]="faCheck" />
                    <p class="text-caption mb-0">{{unit.sentence}}</p>
                </div>
            </div>
        </div>
        <!-- Course content * Sections and Videos -->
        <div class="mb-5">
            <header>
                <h2 class="text-title-tertiary fw-bold mb-4">Course content</h2>
                <p class="text-caption color-gray-600">
                    {{course.sections.length}}
                    sections &#x2022;
                    {{courseService.getTotalLectures(course.sections)}}
                    lectures &#x2022;
                    {{courseService.getTotalLength(course.sections,false,true)}} total
                    length
                </p>
            </header>
            <ul class=" list-unstyled">
                <app-course-section [section]="section" *ngFor="let section of course.sections">
                </app-course-section>
            </ul>
        </div>
        <!-- Description -->
        <div class="mb-5">
            <header>
                <h2 class="text-title-tertiary fw-bold mb-4">Description</h2>
            </header>
            <div>
                <p class="text-caption mb-0" [innerHTML]="course.description"></p>
            </div>
        </div>
        <!-- Ratings -->
        <div>
            <header class="d-flex align-items-center mb-3">
                <fa-icon [icon]="faStar" class="text-button-lg me-1 color-yellow-500" />
                <h2 class="text-title-tertiary fw-bold mb-0">
                    {{courseService.getTotalRating(course.ratings)}} course rating &#x2022; {{course.ratings.length}}
                    ratings
                </h2>
            </header>
            <div class="row justify-content-between">
                <div class="col-6 p-3" *ngFor="let rating of course.ratings">
                    <app-rating [rating]="rating"></app-rating>
                </div>

            </div>
        </div>
    </div>
    <!-- Right Side -->
    <div class="col-4">
        <div *ngIf="course !== null" class="course-modal border-gray-400 modal-shadow">
            <img src="{{course.imageUrl}}" class="w-100" />
            <div class="p-4" [ngClass]="{
                'course-modal-fixed': isScrolled
            }">
                <header>
                    <h1 class="text-title-medium fw-700 mb-3">&euro;{{course.price}}</h1>
                    <button *ngIf="courseService.isCourseMine(course) ; else buyButtons"
                        [routerLink]="['/learning/my/', course.id]"
                        class="button-regular rounded-1 bg-primary text-white w-100 button-hover-primary-dark mb-2">Go
                        to course</button>
                    <ng-template #buyButtons>
                        <button *ngIf="!cartService.isCourseInCart(course)" (click)="addCourseToCart(course)"
                            class="button-regular rounded-1 bg-primary text-white w-100 button-hover-primary-dark mb-2">Add
                            to cart</button>
                        <button *ngIf="cartService.isCourseInCart(course)" [routerLink]="['/cart']"
                            class="button-regular rounded-1 bg-primary text-white w-100 button-hover-primary-dark mb-2">Go
                            to cart </button>
                        <button
                            class="button-nav button color-primary border border-1 border-primary rounded-1 w-100 button-hover-secondary-gray mb-3">Buy
                            now</button>
                    </ng-template>
                    <p class="text-caption text-center mb-4">30-Day Money-Back-Guarantee</p>
                </header>
                <div>
                    <h5 class="text-button-lg fw-bold mb-3">This course includes:</h5>
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon-wrapper me-3"><fa-icon [icon]="faClapperboard" style="font-size: 14px;" />
                        </div>
                        <p class="text-caption mb-0">{{courseService.getTotalLength(course.sections,true)}} on demand
                            video</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon-wrapper me-3"> <fa-icon [icon]="faInfinity" style="font-size: 14px;" /></div>
                        <p class="text-caption mb-0">Full lifetime access</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon-wrapper me-3"><fa-icon [icon]="faMobileScreen" /></div>
                        <p class="text-caption mb-0">Access on Mobile</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon-wrapper me-3"><fa-icon [icon]="faTv" style="font-size: 12px;" /></div>
                        <p class="text-caption mb-0">Access on Tv</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon-wrapper me-3"><fa-icon [icon]="faAward" /></div>
                        <p class="text-caption mb-0">Certificate of Completion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>