@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&display=swap');

:root {
    --color-primary: #4970ff;
    --color-primary-dark: #3059f0;
    --color-secondary: #283050;
    --color-success: #badbcc;
    --color-error: #f8d7da;
    --color-error-dark:#842029;
    --color-success-dark: #0f5132;
    --color-logo: #272F4D;
    --gray-100: #f4f4f4;
    --gray-200: #e1e1f7;
    --gray-300:#f7f9fa;
    --gray-600: #6a6f73;
    --gray-800: rgb(40,48,80);
    --gray-900:#222 ;
    --bs-link-hover-color: #4970ff;
    --bs-spacer: 2rem;
    --yellow-500: #e59819;
    --yellow-600:#b4690e;
    --color-danger:#d10000;
    
    
  }
  
  body {
      font-family: 'Noto Sans', sans-serif;
      box-sizing: border-box;
      margin: 0;
  }

  /* .active a {
    color: var(--color-primary);
  } */

  .w-80 {
    width: 80%;
  }
  .progress {
    --bs-progress-height: 5px;
  }

.box-shadow {
   box-shadow: 3px 3px 2rem rgba(0,0,0,.1)
}

.modal-shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 0.75rem rgba(0,0,0,.08);
}

.paper-shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 0.75rem rgba(0,0,0,.16);
}

.line-height-16 {
    line-height: 1rem;
}

.text-super-caption {
    font-size: 0.75rem;
    color: var(--gray-600);
}

.super-caption {
    font-size: 0.75rem;
}
.text-caption {
    font-size: .875rem;
}

.text-nav {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 21px;
    color: var(--gray-900);
}

.text-button-lg {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}

.text-hero {
    font-size: 4.1875rem;
    font-weight: 600;
    line-height: 74px;
    color: var(--color-secondary);
}

.text-subhero {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
    color: var(--color-secondary);
}

.text-paragraph {
    line-height: 1.4rem;
    font-size: 0.9375rem;
    font-weight: 400;
}

.text-subtitle {
    font-weight: 400;
    font-size: 1,0625rem;
    line-height: 1.4rem;
    color: var(--color-secondary);
}

.text-subtitle-secondary {
    font-size: 1.125rem;
    /* color: var(--color-secondary); */
}

.text-logo {
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
}

.text-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.3rem;
}

.text-title-secondary {
    font-size: 2.375rem;
    font-weight: 600;
}

.text-title-tertiary {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7rem;
}

.text-title-medium {
    font-size: 2rem;
    font-weight: 600;

}

.title-fixed-height {
    display: block;
    min-height: 51px;
}

.text-nowrap {
    white-space: nowrap;
}

.height-9 {
    height: 9rem;
}
.width-11{
    width:11rem
}



.fw-700 {
    font-weight: 700;
}

.col-gap-10 {
    column-gap: 0.625rem;
}

.p-12 {
    padding: 0.75rem;
}
.p-10 {
    padding: 0.625rem;
}
.p-x-6px {
    padding-inline: 6px;
}

.px-6 {
    padding-inline: 4rem;
}

.py-18 {
    padding-block: 1.125rem;
}

.py-40 {
    padding-block: 40px;
}
.p-48 {
    padding: 3rem;
}
.pb-32 {
    padding-bottom:2rem !important;
}

.pb-64 {
    padding-bottom:4rem !important;
}

.mb-32 {
    margin-bottom: 2rem;
}
.mb-24 {
    margin-bottom: 1.5rem;
}


.my-12 {
    margin-block: 0.75rem;
}
.py-10 {
    padding-block: 0.625rem !important;
}

.py-12 {
    padding-block:0.75rem;
}


.column-gap-3 {
    column-gap: 1rem;
}
.padding-section-medium {
    padding-block:4rem;
}
.padding-section-large {
    padding-block: 7rem;
}

.mt-medium{
    margin-top: 3rem
}


.mt-semi-large {
    margin-top: 5rem;
}
.mt-large {
    margin-top: 7rem
}

.mt-xxl {
    margin-top: 8rem
}

button {
    outline: none;
    background-color: transparent;
    border: none;
}

.button-nav {
    padding: 0.75rem 1.125rem;
    line-height: 0.9375rem;
}

.button-regular {
    padding: 0.9375rem 1.125rem;
    line-height: 0.9375rem;
}
.button-text {
    line-height: 0.9375rem;
    white-space: nowrap;
}

.shadow-button {
    box-shadow: 0px 0px 4px 2px rgba(51, 51, 51, 0.1);
}

.button-large {
    padding: 1.25rem 2rem;
}

.button-hover-primary-dark:hover:not(.button-disabled) {
background-color: var(--color-primary-dark) !important;
}

.button-hover-secondary-gray:hover:not(.button-disabled) {
    background-color: var(--gray-200) !important;
}
.input-large {
    height: 3rem;
    outline: none;
}

.input-small {
    height: 2rem;
    padding-inline: 1rem;
    outline: none;
    border-radius: 0;
    font-size: 15px;
    line-height: 15px;
}
.border-success {
    border:1px solid var(--color-success);
}
.border-error {
    border:1px solid var(--color-error);
}
.border-white {
    border:1px solid white;
}


.border-gray-200 {
    border: 1px solid rgba(40,48,80,.07);
}
.border-gray-300 {
    border: 1px solid rgba(40,48,80,.13);
}

.border-bottom-gray-300 {
    border-bottom: 1px solid rgba(40,48,80,.13);
}

.border-gray-400 {
    border: 1px solid rgba(40,48,80,.20);
}

.border-bottom-gray-400 {
    border-bottom: 1px solid rgba(40,48,80,.20);
}

.border-top-gray-400 {
    border-top: 1px solid rgba(40,48,80,.20);
}

.border-start-gray-400 {
    border-left: 1px solid rgba(255, 255, 255, 0.4)
}

.border-gray-900 {
    border: 1px solid var(--gray-900)
}
.color-secondary {
    color: var(--color-secondary) !important;
}

.color-success-dark {
    color: var(--color-success-dark);
}

.color-error-dark {
    color: var(--color-error-dark);
}
.color-gray-100 {
    color: var(--gray-100);
}

.color-gray-200 {
    color: rgba(40,48,80,.6);
}

.color-gray-900 {
    color: var(--gray-900);
}

.color-gray-600 {
    color: var(--gray-600)
}
.color-gray-800 {
    color: var(--gray-800);
}

.color-yellow-500 {
    color: var(--yellow-500);
}

.color-yellow-600 {
    color: var(--yellow-600);
}
.color-blue-900 {
    color: var(--color-logo);
}
.color-danger {
    color: var(--color-danger);
}
.color-primary {
    color: var(--color-primary);
}

.color-primary-dark {
    color: var(--color-primary-dark)
}

.border-primary {
    border-color: var(--color-primary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-success {
    background-color: var(--color-success) !important;
}

.bg-error {
    background-color: var(--color-error) !important;
}
.bg-gray-200 {
    background-color: #f8f9fa;
}
.bg-gray-300 {
    background-color: var(--gray-300);
}

.bg-gray-400 {
    background-color:rgba(40,48,80,.20) ;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}


.icon-nav-size svg{
    width: 1.25rem;
    height: 1.25rem;
}



.icon-22-size {
    font-size: 22px;
}

.icon-reg-size svg{
    width: 30px;
    height: 30px;
}

.caret-select {
    right: 1rem;
    top: calc(50% - 0.625rem);
    pointer-events: none;
}

.otter-icon svg {
    width: 80px;
    height: 80px;
}

.icon-input-size svg {
    width: 1rem;
    height: 1rem;
}

.icon-gray-600 svg path {
    fill: var(--gray-600);
}

.icon-gray-400 svg path {
    fill: var(--gray-900);
}

.icon-primary svg path {
    fill: var(--color-primary);
}

.icon-button svg {
    margin-bottom: -3px
}

.input-no-focus:focus-visible {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
  }

  .z-1 {
  z-index: 1;
  }

  .user-badge {
    border-radius: 50%;
    background-color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .user-badge-md {
    width: 3.125rem;
    height: 3.125rem;
    min-width: 3.125rem;
  }

  .user-badge-sm {
    width: 34px;
    height: 2rem;
    min-width: 2rem;
  }

  .user-badge-lg {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
  }

  .course-image-xs {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
}

.course-image-md {
    border: 1px solid rgba(40,48,80,.20);
   
}

.image-grayscale {
    filter: grayscale(100%);
}

  .hover-modal {
    z-index: 100;
    margin-top: 1.25rem;
      min-width: 18.75rem;
      opacity: 0;
      animation: fadeAndScaleAnimation 200ms cubic-bezier(.2,0,.38,.9) forwards
  }
  .cart-hover-modal-container {
    z-index: 100;
      top: 100%;
      right: -8px;
  }
  
  .cart-hover-modal {
      margin-top: 4px;
      min-width: 18.75rem;
      opacity: 0;
      animation: fadeAndScaleAnimation 200ms cubic-bezier(.2,0,.38,.9) forwards
  }

  .hover-modal-container {
    z-index: 100;
    top: 100%;
    right: -8px;
  }
  
  .hover-modal-container-left {
    z-index: 100;
    top: 100%;
    left: 0;
  }
  


  .hover-primary:hover{
    color: var(--color-primary)
  }

  .hover-dark:hover {
    color:var(--color-primary-dark)
  }
  .hover-black:hover {
    color:var(--gray-900)
  }

  .mw-260 {
    min-width: 260px;
  }

  .object-fit-cover {
    object-fit: cover;
  }
  
  .button-disabled {
    background-color: var(--gray-600) !important;
    pointer-events: none;
}
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.box-select {
    cursor: pointer;
    outline: none;
}

.box-option {
    pointer-events: none;
    background-color: white;
}


.box-select:hover {
    background-color: var(--gray-200);
}
.spinner-20 {
    width: 1.15rem;
    height: 1.15rem;
}

.spinner-25 {
    width: 1.5625rem;
    height: 1.5625rem;
}
.spinner-medium {
    width: 3rem;
    height: 3rem;
}
.spinner-large {
    width: 4.625rem;
    height: 4.625rem;
}
  
  
  .course-width-fixed-md-none {
    max-width: 18rem;
  }

  .title-min-width-7 {
    min-width: 6.75rem
}
.title-min-width-5 {
    min-width: 5rem
}

.fixed-width-6 {
    max-width: 6rem;
}

@keyframes fadeAndScaleAnimation {
    0% {
      opacity: 0;
      transform: scale(.9);
  
    }  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
 

  @media (min-width:768px) {
    .course-image-md {
        width: 240px;
        height: 135px;
    }
    .course-width-fixed-md-none {
        max-width: none;;
    }
    .w-md-none {
        width: unset !important;
    }
  }





