<section>
    <!-- Navbar -->
    <app-nav-private [title]="course?.title"></app-nav-private>
    <!-- Content -->
    <div *ngIf="course !== null" class=" container-fluid">
        <div class="row">
            <div class=" col">

                <div class="row justify-content-center bg-primary">
                    <div class="col-11 ">
                        <!-- Video Player -->
                        <app-video-player
                            [options]="{autoplay: false,fluid:true,aspectRatio:'16:9', sources: [{ src: selectedVideo, type: 'video/mp4' }]}"></app-video-player>
                    </div>
                </div>
                <!-- Course Overview -->
                <div class="row justify-content-center">
                    <div class="mt-4 col-11">
                        <app-tab-overview [course]="course"></app-tab-overview>
                    </div>
                </div>
            </div>
            <!-- Sections Menu -->
            <div class="col-3 px-0">
                <div>
                    <div class="p-3">
                        <h6 class="mb-0">Course content</h6>

                    </div>
                    <app-my-course-menu *ngFor="let section of course.sections">
                        <div slot="title">
                            <h6 class="mb-1">{{section.title}}</h6>
                            <p class="mb-0 text-super-caption">HELLO</p>
                        </div>
                        <div slot="body">
                            <p *ngFor="let video of section.videos">{{video.title}}</p>

                        </div>
                    </app-my-course-menu>

                </div>
            </div>
        </div>
    </div>


</section>