.nav-tabs .nav-link {
    border-radius: 0;
}

.nav-link {
    color: var(--color-secondary);
}

.nav-tabs .nav-link.active {
    color: var(--color-primary);
}

.line-height-45 {
    line-height: 45px !important;
}

.custom-select .chevron {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-block: 0.75rem;
    padding-left:1rem;
    padding-right: 35px; /* Add space for the icon */
    background: #fff;

  }

  .custom-select select:focus-visible {
    outline: none;
  }

  .custom-select select:hover {
    background-color: var(--gray-200);
    cursor: pointer;
  }
  .custom-select select option {
    background-color: white;
  }

  .ml-minus-3 {
    margin-left:-3px;
  }