<div *ngIf="course !== null">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Overview</button>
            <!--Course Overview -->
            <ng-template ngbNavContent>
                <!-- About -->
                <div class="row border-bottom-gray-400  p-4">
                    <div class="col-6 ">
                        <h3 class="text-title-tertiary fw-700 mb-4">About this course</h3>
                        <p class="mb-0 text-nav">{{course.subtitle}}</p>
                    </div>
                </div>
                <!-- Number -->
                <div class="row p-4 border-bottom-gray-400">
                    <div class="col-3">
                        <p class="mb-1 fw-bold">By the numbers</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1 text-nav">Skill level: Beginner Level</p>
                        <p class="mb-1 text-nav">Students: {{course.students.length}}</p>
                        <p class="mb-1 text-nav">Languages: {{courseService.toCamelCase(course.languages[0].name)}}</p>
                        <p class="mb-1 text-nav">Captions: No</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1 text-nav">Lectures: {{courseService.getTotalLectures(course.sections)}}</p>
                        <p class="mb-1 text-nav">Video: {{courseService.getTotalLength(course.sections,true)}}</p>
                    </div>
                </div>
                <!-- Description -->
                <div class="row p-4 border-bottom-gray-400">
                    <div class="col-3">
                        <p class="mb-1 fw-bold">Description</p>
                    </div>
                    <div class="col-6">
                        <p class="text-nav mb-0" [innerHTML]="course.description"></p>
                    </div>
                </div>
                <!-- Instructor -->
                <div class="row p-4">
                    <div class="col-3">
                        <p class="mb-1 fw-bold">Instructor</p>
                    </div>
                    <div class="col-6">
                        <header class="d-flex align-items-center">
                            <div *ngIf="!course.user.avatar" class="user-badge user-badge-lg text-white fw-bold me-4">
                                {{courseService.getAvatarInitials(course.user)}}
                            </div>
                            <img *ngIf="course.user.avatar" class="user-badge user-badge-lg me-4"
                                src="{{course.user.avatar}}">
                            <div>
                                <h5 class="text-subtitle-secondary fw-bold mb-2">
                                    {{courseService.getFirstNameAndLastNameDevidedBySpace(course.user)}}</h5>
                            </div>
                        </header>
                    </div>
                </div>

            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Q&A</button>
            <!-- Questions and Andwers -->
            <ng-template ngbNavContent>
                <p>
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                    jean
                    shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                    Keytar
                    helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum
                    wes
                    anderson
                    8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                    scenester
                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </p>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Reviews</button>
            <!-- Ratings -->
            <ng-template ngbNavContent>
                <div class="row p-4 justify-content-center">
                    <div class="col-7">
                        <div class="d-flex justify-content-between">
                            <h3 class="text-title-tertiary line-height-45">Reviews</h3>
                            <div class="custom-select position-relative">
                                <select class="" type="text">

                                    <option selected="true">All ratings</option>
                                    <option value="5">Five stars</option>
                                    <option value="4">Four stars</option>
                                    <option value="3">Three stars</option>
                                    <option value="2">Two stars</option>
                                    <option value="1">One star</option>
                                </select>
                                <fa-icon class="chevron" [icon]="faChevronDown" />
                            </div>
                        </div>
                        <div *ngFor="let rating of course.ratings" class="border-bottom-gray-400 py-4">
                            <header class=" d-flex">
                                <div *ngIf="!rating.user.avatar"
                                    class="user-badge user-badge-md text-white fw-bold me-4">
                                    {{courseService.getAvatarInitials(course.user)}}
                                </div>
                                <img *ngIf="rating.user.avatar" class="user-badge user-badge-lg me-4"
                                    src="{{course.user.avatar}}">
                                <div>
                                    <h6 class="fw-bold mb-0">
                                        {{courseService.getFirstNameAndLastNameFirstLetter(rating.user)}}.</h6>

                                    <div class="d-flex align-items-center ml-minus-3 mb-2">
                                        <fa-icon *ngFor="let star of courseService.getRatingArray(rating.amount)"
                                            [icon]="faStar" class="text-subtitle-secondary color-yellow-500" />
                                        <p class="ms-3 text-super-caption fw-normal mb-0">
                                            {{formatDate(rating.createdAt.toString())}}</p>
                                    </div>

                                    <div class="text-caption">
                                        <p class="mb-0">{{rating.message}}</p>
                                    </div>
                                </div>

                            </header>

                        </div>
                    </div>
                </div>
            </ng-template>
        </li>

    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>