<div class="bg-white px-2 py-12 border-gray-900 mb-3">
    <div *ngIf="!isLectureTemplateVisible;else lectureTemplate" (mouseenter)="onLectureHover()"
        (mouseleave)="onLectureLeave()" class=" d-flex justify-content-between">
        <div class="d-flex gap-1 text-paragraph align-items-center">
            <span>Lecture</span>
            <span class="me-1">{{lecture.rank
                }}:</span>
            <fa-icon class="me-1 text-caption" [icon]="faFile" />
            <h6 class="fw-normal mb-0 text-paragraph">{{lecture.title}}</h6>
        </div>
        <div class="d-flex justify-content-end flex-grow-1 gap-4 pe-3" [ngClass]="{
            'd-none': !isLectureHovered
        }">
            <fa-icon [icon]="faPen" (click)="setLectureTemplateVisible()"
                class="cursor-pointer text-paragraph color-gray-600 hover-black" />
            <fa-icon [icon]="faTrash" class="cursor-pointer text-paragraph color-gray-600 hover-black" />
        </div>
    </div>

    <ng-template #lectureTemplate>
        <form [formGroup]="lectureForm" class="bg-white border-gray-900 px-2 py-3">
            <div class="d-flex align-items-center mb-2">
                <h6 class="text-paragraph fw-bold mb-0 d-block title-min-width-7 text-nowrap">
                    New Lecture:&nbsp;</h6>
                <div class="d-flex w-100">
                    <input type="text" formControlName="title"
                        class="flex-grow-1 outline-none input-small border-gray-900 me-3"
                        placeholder="Insert lecture title">
                    <input type="number" formControlName="rank"
                        class="outline-none input-small border-gray-900 fixed-width-6 " placeholder="100">
                </div>

            </div>
            <div class="d-flex mb-2">
                <h6 class="title-min-width-7 d-block mb-0 text-nowrap fw-bold text-paragraph">Duration (s):</h6>
                <div class="d-flex flex-grow-1 gap-3">
                    <input class="outline-none input-small border-gray-900 fixed-width-8" type="number"
                        formControlName="duration">
                    <input type="file" (change)="onFileSelected($event)" accept="video/mp4,video/x-m4v,video/*">
                </div>
            </div>
            <div class=" d-flex gap-2 justify-content-end">
                <button (click)="setLectureTemplateNotVisible()" class="cursor-pointer
                text-paragraph
                fw-semibold
                py-1 px-2
                button-hover-secondary-gray">Cancel</button>
                <button (click)="updateLecture()" [disabled]="isLoading" [ngClass]="{
                    'button-disabled': isLoading
                }" class="cursor-pointer
                text-white
                text-paragraph
                bg-primary
                fw-semibold
                py-1 px-2
                button-hover-primary-dark">Save Lecture</button>
            </div>
        </form>
    </ng-template>
</div>