<section *ngIf="courseService.myCourses !== null">
    <div class="bg-primary">
        <div class="container-md">
            <div class="row justify-content-center">
                <header class="col-10 mt-medium text-white mb-3">
                    <h1 class="text-title-secondary fw-bold mb-5">My learning</h1>
                    <h6 class="text-subtitle-secondary fw-bold text-white">All courses</h6>
                </header>
            </div>
        </div>
    </div>
    <div class="container-md mt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-3 image-hover-dark cursor-pointer" *ngFor="let course of courseService.myCourses">
                        <div class="border-gray-400 mb-2 position-relative">
                            <img src="{{course.imageUrl}}" class="w-100" />
                            <div class="play-button"></div>
                        </div>
                        <h6 class="fw-bold mb-1">{{course.title}}</h6>
                        <p class="text-super-caption color-gray-600">{{course.user.firstName + ' ' +
                            course.user.lastName}}
                        </p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25%"></div>

                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <p class="text-super-caption">25% complete</p>
                            <p class="text-super-caption">Your rating</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>