<section class="position-relative vh-100">
    <!-- Navbar -->
    <app-nav-private [title]="title"></app-nav-private>

    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25%" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar" [ngStyle]="{
                                'width.%': progress
                            }"></div>
    </div>
    <!-- Steps Form -->
    <form #courseForm="ngForm" (ngSubmit)="createNewCourse()">
        <!-- Step 1 -->
        <div class="container-fluid">
            <div *ngIf="step === 1" class="row justify-content-center mt-large">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex flex-column align-items-center">
                    <h1 class="mb-4 text-title-medium fw-bold">How about a working title?</h1>
                    <p class="mb-5">It's ok if you can't think of a good title now. You can change it later.</p>
                    <div class="mx-5 fixed-width  w-100">
                        <input #title="ngModel" ngModel [(ngModel)]="courseTitle" required minlength="15"
                            name="courseTitle" class="w-100 input-large px-3 py-2" type="text"
                            placeholder="e.g Learn to draw from scratch" />
                        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error-message">
                            <div *ngIf="title.errors?.['required']">Title is required.</div>
                            <div *ngIf="title.errors?.['minlength']">Title should have a minimum length of 15
                                characters.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Step 2 -->
        <div class="container-fluid">
            <div *ngIf="step === 2" class="row justify-content-center mt-large">
                <div class="col-12 d-flex flex-column align-items-center">
                    <h1 class="mb-4 text-title-medium fw-bold">What category best fits the knowledge you'll share?</h1>
                    <p class="mb-5">If you're not sure about the right category, you can change it later.</p>
                    <div class="mx-5 fixed-width  w-100 position-relative"><select #select="ngModel" ngModel
                            (change)="handleCategorySelect($event)" name="category"
                            class="box-select w-100 input-large px-3 py-2" type="text" required
                            [(ngModel)]="categoryId">
                            <option class="box-option" selected>Choose a category</option>
                            <option class="box-option" *ngFor="let category of categories">
                                {{category.name}}
                            </option>
                        </select>
                        <fa-icon class="position-absolute caret-select" [icon]="faAngleDown" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div *ngIf="step === 3" class="row justify-content-center mt-large">
                <div class="col-12 d-flex flex-column align-items-center">
                    <h1 class="mb-4 text-title-medium fw-bold">How much time can you spend creating your course per
                        week?</h1>
                    <p class="mb-5">There's no wrong answer. We can help you achieve your goals even if you don't have
                        much time.</p>
                    <div class="mx-5 fixed-width w-100">
                        <ng-container *ngFor="let option of workOptions">

                            <input type="radio" id="{{option}}" name="work-option" class="box-radio">
                            <label for="{{option}}" class="box-label px-3 py-12 m-0 mb-2"
                                (click)="selectOption(option)">{{option}}</label>

                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar -->
        <nav class="position-absolute bottom-bar d-flex justify-content-between">
            <button type="button" (click)="prev()"
                class="button-nav button color-primary border border-1 border-primary rounded-1 button-hover-secondary-gray">Previous</button>
            <button type="button" *ngIf="step && step < 3" (click)="next()"
                class="button-nav button bg-primary text-white border border-1 border-primary rounded-1 button-hover-primary-dark">Continue</button>
            <button type="submit" *ngIf="step === 3" [disabled]="!courseForm.valid" [ngClass]="{
                'button-disabled': !courseForm.valid
            }"
                class="button-nav button bg-primary text-white border border-1 border-primary rounded-1 button-hover-primary-dark">Create</button>
        </nav>
    </form>
</section>