<section>
    <!-- Navbar -->
    <app-nav-private [title]="course?.title"></app-nav-private>
    <!-- Content -->
    <div *ngIf="course !== null" class=" container-fluid mt-medium">
        <div class="row">
            <div class=" col">

                <div class="row justify-content-center bg-primary">
                    <div class="col-11 ">
                        <!-- Video Player -->
                        <app-video-player
                            [options]="{autoplay: false,fluid:true,aspectRatio:'16:9', sources: selectedVideoSources}"></app-video-player>
                    </div>
                </div>
                <!-- Course Overview -->
                <div class="row justify-content-center">
                    <div class="mt-4 col-11">
                        <app-tab-overview [course]="course"></app-tab-overview>
                    </div>
                </div>
            </div>
            <!-- Sections Menu -->
            <div class="col-3 px-0">
                <div>
                    <div class="p-3">
                        <h6 class="mb-0">Course content</h6>

                    </div>
                    <app-my-course-menu *ngFor="let section of sortedSections,let sectionIdx = index">
                        <div slot="title">
                            <h6 class="mb-2 fw-bold text-section">Section{{section.rank}}:&nbsp;{{section.title}}</h6>
                            <p class="mb-0 text-super-caption">HELLO</p>
                        </div>
                        <div slot="body">
                            <div (click)="onVideoSelect(video.sourceUrl,video.id)"
                                *ngFor="let video of section.videos;let videoIdx = index"
                                class="d-flex align-items-start cursor-pointer px-3 py-2 video-hover">
                                <input class="mt-5px me-2" type="checkbox" />
                                <div>
                                    <p class="text-caption fw-normal mb-2">{{videoIdx + 1}}.&nbsp;{{video.title}}</p>
                                    <fa-icon class="icon-gray-600" [icon]="faClapperboard" />&nbsp;<span
                                        class="text-super-caption">{{courseService.getVideoLength(video.durationInSeconds)}}</span>
                                </div>
                            </div>

                        </div>
                    </app-my-course-menu>

                </div>
            </div>
        </div>
    </div>


</section>