<div class="row padding-section-large">
    <header class="col-6">
        <h1 class="text-hero mb-4">The better way <br /> to automate <br /> your business</h1>
        <h5 class="text-subhero mb-32">Lurnx is the easiest way to digitize your business: The low-code
            platform
            for
            all SME business
            processes.</h5>
        <button class="button button-large text-button-lg rounded-1 bg-primary text-white">Start free 30-day
            trial</button>
    </header>
    <div class="col-6">
        <div class="p-48 rounded-2 w-100 h-100">
            <div class="position-relative w-100 h-100">
                <video autoplay muted loop class=" position-absolute top-0 home-header-video w-100 h-100 rounded-2">
                    <source
                        src="https://assets-global.website-files.com/61ba5609e8ad1b9ef429de97/641c7544b611d400d8b2ab7f_iPad_Shot_CG_DissolutionTransition_LowBR-transcode.mp4"
                        type="video/webm">
                </video>
                <img class="position-absolute teal-left-position" src="../../assets/teal-leaft.svg" />
                <img class="position-absolute red-left-position" src="../../assets/red-leaf.svg" />
                <img class="position-absolute orange-left-position" src="../../assets/orange-leaf.svg" />


            </div>
        </div>
    </div>
</div>
<div class="row padding-section-medium">
    <div class="col-12 text-center">
        <h6 class="color-gray-200 mb-3">Why Lurnx</h6>
        <h2 class="text-title mb-3">One tool for the whole company</h2>
        <h6 class="text-subtitle color-gray-300">Lurnx empowers teams to digitize their business processes without
            the help of an
            IT department.<br />
            Modernize
            your business with just a few clicks.</h6>
    </div>
</div>