<section>
    <!-- Navbar -->
    <app-nav-private [title]="undefined"></app-nav-private>
    <div class="container-fluid mt-semi-large">
        <div class="row justify-content-center">
            <div class="col-8 d-flex">
                <div class="side-nav"></div>
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-12">
                            <div class="paper-shadow">
                                <header class="border-bottom-gray-400 px-6 py-40">
                                    <h3 class="mb-0 text-title-tertiary">Course landing page</h3>
                                </header>
                                <div class="px-6 py-40">
                                    <p class="text-paragraph">Your course landing page is crucial to your success on
                                        Lurnx. If it&apos;s
                                        done right,
                                        it can also help you gain visibility in search engines like Google. As you
                                        complete this section, think about creating a compelling Course Landing Page
                                        that demonstrates why someone would want to enroll in your course.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>