<div (mouseenter)="onCartHover()" (mouseleave)="onCartLeave()" class="position-relative d-flex align-items-center py-3">
    <button class="icon-gray-400 p-12"><fa-icon [icon]="faCartShopping" class="icon-nav-size icon-button"></fa-icon>

    </button>
    <div [ngClass]="{ 'd-none': !cartModalVisible}" class="cart-hover-modal-container position-absolute ">
        <div class="bg-white border-gray-300 rounded-2 p-3 text-center cart-hover-modal modal-shadow">

            <p class="text-secondary">Your cart is empty.</p>
            <p class="m-0 text-primary text-caption fw-bold">Keep shopping</p>
        </div>
    </div>
</div>