<div class="row mt-large">
    <header class="col-12 mb-5">
        <h1 class="text-title-medium mb-0">{{categoryName}} Courses</h1>
    </header>
    <div class="col-12">
        <h2 class="text-title-secondary fw-700 mb-4">Courses to get you started</h2>
        <ul class="d-flex  list-unstyled mb-0 ordering-options">
            <li (click)="setSelected('popular')" class="me-4 text-secondary fw-700 py-12 cursor-pointer" [ngClass]="{
                'order-selected': orderType == 'popular'
            }">Most Popular</li>
            <li (click)="setSelected('new')" class="me-4 text-secondary fw-700 py-12 cursor-pointer" [ngClass]="{
                'order-selected': orderType == 'new'
            }">Newest</li>
        </ul>
    </div>
    <div class="col-12 mt-3">
        <div *ngFor="let course of courses">
            <img src="{{course.imageUrl}}" class="course-image-small mb-2" />
            <h6 class="fw-700 mb-1">{{course.title}}</h6>
            <p class="mb-1 text-super-caption">{{course.user.firstName + " " + course.user.lastName}}</p>
            <p class="mb-1 fw-700">&euro;{{course.price}}</p>
        </div>
    </div>

    <header class="col-12 mt-large">
        <h2 class="text-title-secondary fw-700 mb-3">All {{categoryName}} courses</h2>
        <div class="d-flex align-items-center py-3 px-4 border-gray-400 rounded-3">
            <fa-icon [icon]="faExclemation" class="me-4 icon-reg-size" />
            <p class="mb-0">Not sure? All courses have a 30-day money-back-guarantee</p>
        </div>
    </header>


    <div class="col-12 mt-3">
        <div *ngFor="let course of courses"
            class="d-flex align-items-start justify-content-between pb-3 border-bottom-gray-400">
            <div class="d-flex align-items-start">
                <img src="{{course.imageUrl}}" class="course-image-small me-3" />
                <div>
                    <h6 class="fw-700 mb-1 text-subtitle-primary">{{course.title}}</h6>
                    <p class="mb-1">{{course.description}}</p>
                    <p class="mb-1 text-super-caption">{{course.user.firstName + " " + course.user.lastName}}</p>
                    <div class="d-flex mb-1">
                        <div class="me-1 text-white bg-primary text-caption px-1 rounded-1"
                            *ngFor="let language of course.languages">
                            {{language.name}}
                        </div>
                    </div>
                    <p class="text-super-caption">65.5 total hours &#x2022; 465 lectures &#x2022; All levels</p>
                </div>
            </div>
            <div>
                <p class="mb-1 fw-700">&euro;{{course.price}}</p>
                <p class="mb-1 text-caption text-decoration-line-through All Levels">&euro;84.99</p>
            </div>
        </div>
    </div>
</div>