.ordering-options {
    border-bottom: 1px solid rgba(40,48,80,.20);
}

.order-selected {
    border-bottom: 2px solid rgb(40,48,80);
    color: rgb(40,48,80) !important;
}

.w-2050 {
    width:2050px;
}

.image-hover-dark:hover .course-image-md {
    filter: brightness(75%);
}

.fixed-with-240 {
    max-width: 240px;
}