<div class="row mt-large">
    <header class="col-12 mb-5">
        <h1 class="text-title-medium mb-0">{{categoryName}} Courses</h1>
    </header>
    <div class="col-12">

        <h2 class="text-title-tertiary fw-700 mb-4">Courses to get you started</h2>
        <ul class="d-flex  list-unstyled mb-0 ordering-options">
            <li (click)="setSelected('popular')" class="me-4 text-secondary fw-700 py-12 cursor-pointer" [ngClass]="{
                        'order-selected': orderType == 'popular'
                    }">Most Popular</li>
            <li (click)="setSelected('new')" class="me-4 text-secondary fw-700 py-12 cursor-pointer" [ngClass]="{
                        'order-selected': orderType == 'new'
                    }">Newest</li>
        </ul>

    </div>
    <!-- Recent -->
    <div class="col-12 mt-3 d-flex flex-row">
        <div class="d-flex">
            <div *ngFor="let course of courses" [routerLink]="['/courses/', course.id]"
                class="cursor-pointer image-hover-dark me-3 fixed-with-240">
                <img src="{{course.imageUrl}}" class="course-image-md mb-2" />
                <h6 class="fw-700 mb-1 overflow-hidden">{{course.title}}</h6>
                <p class="mb-1 text-super-caption">{{course.user.firstName + " " + course.user.lastName}}</p>
                <div class="d-flex align-items-center">
                    <p class="text-super-caption color-yellow-600 mb-0 fw-bold me-1">
                        {{courseService.getTotalRating(this.course.ratings)}}</p>
                    <fa-icon
                        *ngFor="let star of courseService.getRatingArray(courseService.getTotalRating(this.course.ratings))"
                        [icon]="faStar" class="text-super-caption color-yellow-500" />
                    <p class="mb-0 text-super-caption px-2">({{course.ratings.length}})</p>
                </div>
                <p class="mb-1 fw-700">&euro;{{course.price}}</p>
            </div>
        </div>
    </div>

    <header class="col-12 mt-large">
        <h2 class="text-title-tertiary fw-700 mb-3">All {{categoryName}} courses</h2>
        <div class="d-flex align-items-center py-3 px-4 border-gray-400 rounded-3">
            <fa-icon [icon]="faExclemation" class="me-4 icon-reg-size" />
            <p class="mb-0">Not sure? All courses have a 30-day money-back-guarantee</p>
        </div>
    </header>

    <!-- All Courses for category -->
    <div class="col-12">
        <app-course-template *ngFor="let course of courses" [course]="course"></app-course-template>

    </div>
</div>