<nav class="navbar nav p-0">
    <div class="container-xxl">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center ">
                <a href="#"
                    class="fs-2 text-logo text-decoration-none me-3 color-blue-900 position-relative">Lurnx<fa-icon
                        [icon]="faOtter" class="icon-nav-size"></fa-icon></a>
                <ul class="d-flex list-unstyled mb-0 text-nav">
                    <li class="p-12 my-3">Categories</li>
                    <li *ngIf="loginService.user.authStatus!='AUTH'" class="p-12 my-3">Teach On Lurnx</li>
                    <li *ngIf="loginService.user.authStatus=='AUTH'" class="p-12 my-3">My Courses</li>
                    <li *ngIf="loginService.user.authStatus=='AUTH'" class="p-12 my-3">Teach</li>


                </ul>
                <div class="ms-3 nav-input-container">

                    <input class="text-nav" type="text" placeholder="Search">
                </div>
            </div>
            <div class="d-flex text-nav column-gap-3">
                <div *ngIf="loginService.user.authStatus=='AUTH'" (mouseenter)="onCartHover()"
                    (mouseleave)="onCartLeave()" class="position-relative d-flex align-items-center  py-3">
                    <button class="icon-gray-400 p-12"><fa-icon [icon]="faCartShopping"
                            class="icon-nav-size icon-button"></fa-icon>

                    </button>
                    <div [ngClass]="{ 'd-none': cartModalVisible}"
                        class="cart-hover-modal-container position-absolute ">
                        <div class="bg-white border-gray-300 rounded-2 p-3 text-center cart-hover-modal">
                            <p class="text-secondary">Your cart is empty.</p>
                            <p class="m-0 text-primary text-caption fw-bold">Keep shopping</p>
                        </div>
                    </div>
                </div>
                <button *ngIf="loginService.user.authStatus!='AUTH'" class="button-nav button color-gray-400 p-12 my-3"
                    [routerLink]="['/','login']">Login</button>
                <button *ngIf="loginService.user.authStatus!='AUTH'"
                    class="button-nav button color-primary border border-1 border-primary rounded-1 my-3">Sign
                    up</button>
                <button *ngIf="loginService.user.authStatus=='AUTH'"
                    class="button-nav button color-primary border border-1 border-primary rounded-1 my-3"
                    (click)="logOut()">Log
                    out</button>
            </div>

        </div>
    </div>
</nav>