<nav class="navbar nav p-0">

    <div class="container-xxl">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center">
                <button class="d-md-none p-12 icon-gray-400" (click)="open()">
                    <fa-icon [icon]="faBars" class="icon-nav-size icon-button"></fa-icon>
                </button>


                <div class="d-flex align-items-center">
                    <ul class="d-none d-md-flex list-unstyled mb-0 text-nav align-items-center">
                        <a [routerLink]=" ['/']"
                            class="fs-2 text-logo text-decoration-none me-3 color-blue-900 position-relative">Lurnx<fa-icon
                                [icon]="faOtter" class="icon-nav-size"></fa-icon></a>
                        <app-categories></app-categories>
                        <li *ngIf="loginService.user.authStatus!='AUTH'" class="p-12 my-3" routerLinkActive="active">
                            <a class="cursor-pointer color-gray-900 d-inline text-decoration-none">Teach on Lurnx</a>
                        </li>
                        <app-my-courses-prew *ngIf="loginService.user.authStatus=='AUTH'"></app-my-courses-prew>
                        <li [routerLink]=" ['/teach']" *ngIf="loginService.user.authStatus=='AUTH'" class="p-12 my-3"
                            routerLinkActive="active">
                            <a class="cursor-pointer color-gray-900 d-inline text-decoration-none">Teach</a>
                        </li>

                        <app-search></app-search>

                    </ul>
                </div>
            </div>
            <a [routerLink]=" ['/']"
                class="d-md-none fs-2 text-logo text-decoration-none color-blue-900 position-relative">Lurnx<fa-icon
                    [icon]="faOtter" class="icon-nav-size"></fa-icon></a>
            <div class="d-flex text-nav align-items-center col-gap-10 ">
                <app-cart-prew *ngIf="loginService.user.authStatus=='AUTH'"></app-cart-prew>

                <button *ngIf="loginService.user.authStatus!='AUTH'" class="button-nav button color-gray-900 p-12 my-3"
                    [routerLink]="['/','login']">Login</button>
                <button *ngIf="loginService.user.authStatus!='AUTH'"
                    class="button-nav button color-primary border border-1 border-primary rounded-1 my-3 button-hover-secondary-gray"
                    [routerLink]="['/','register']">Sign
                    up</button>
                <app-avatar *ngIf="loginService.user.authStatus=='AUTH'"></app-avatar>
            </div>

        </div>
    </div>
</nav>